<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div th:fragment="sideNav">
    <nav>
        <div class="position-sticky">
            <div class="list-group">
                <a th:href="@{/users/profile}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-user"></i><span> My profile</span></a>
                <a th:href="@{/messages}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-message"></i><span> Messages</span></a>
                <a th:href="@{/friends}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-user-group"></i><span> Friends</span></a>
                <a th:href="@{/communities}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-users-line"></i><span> Communities</span></a>
                <a th:href="@{/events}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-calendar-days"></i><span> Events</span></a>
                <a th:href="@{/users}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-users"></i><span> Users</span></a>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin}" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-screwdriver-wrench"></i><span> Admin</span></a></div>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action">
                    <i class="fa-sharp fa-solid fa-right-from-bracket"></i><span> Logout</span></a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>

