<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="wrapper">
    <header>
        <div th:replace="fragments/nav :: nav"/>
    </header>
    <main>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div th:replace="fragments/sideNav :: sideNav"/>
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Banned Users</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered" th:object="${users}">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>Photo:</th>
                                        <th>Email:</th>
                                        <th>First name:</th>
                                        <th>Last name:</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td><img th:if="${user.image != null}"
                                                 class="rounded img-thumbnail social-img"
                                                 th:src="@{|/users/profile/image/${user.image}|}"
                                                 alt="Your profile image">
                                            <img th:unless="${user.image != null}"
                                                 class="rounded img-thumbnail social-img"
                                                 th:src="@{/img/default.png}" alt="Your profile image">
                                        </td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td>
                                            <form method="post"
                                                  th:action="@{|/admin/unblock/${user.id}|}">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary"
                                                            data-bs-toggle="tooltip"
                                                            title="Unblock user"><i class="fa-solid fa-unlock"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</div>
</body>
</html>