<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="wrapper">
    <header>
        <div th:replace="fragments/nav :: nav"/>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Change Password</h2>
                        </div>
                        <div th:if="${param.fail}">
                            <div class="alert alert-info">
                                <p th:text="${message}"></p>
                            </div>
                        </div>
                        <div class="card-body">
                            <form
                                    method="post"
                                    role="form"
                                    th:action="@{/users/profile/password}"
                                    th:object="${password}"
                            >
                                <div class="form-group mb-3">
                                    <label class="form-label"><abbr title="Password must contain:
                        - a minimum of 1 lower case letter [a-z]
                        - a minimum of 1 upper case letter [A-Z]
                        - a minimum of 1 numeric character [0-9]
                        - any combination of between 5 to 16 characters">Password</abbr></label>
                                    <input
                                            class="form-control"
                                            id="password"
                                            name="password"
                                            placeholder="Enter password"
                                            th:field="*{password}"
                                            type="password"
                                    />
                                    <p th:errors="*{password}" class="text-danger"
                                       th:if="${#fields.hasErrors('password')}"></p>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Repeat password</label>
                                    <input
                                            class="form-control"
                                            id="matchingPassword"
                                            name="matchingPassword"
                                            placeholder="Repeat password"
                                            th:field="*{matchingPassword}"
                                            type="password"
                                    />
                                    <p th:errors="*{matchingPassword}" class="text-danger"
                                       th:if="${#fields.hasErrors('matchingPassword')}"></p>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</div>
</body>
</html>