<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="wrapper">
    <header>
        <div th:replace="fragments/nav :: nav"/>
    </header>
    <main>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div th:replace="fragments/sideNav :: sideNav"/>
                </div>
                <div class="col-md-10">
                    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="profile-profile"
                           data-bs-toggle="list" href="#profile" role="tab" aria-controls="profile"><i
                                class="fa-solid fa-user"></i><span> Profile</span></a>
                        <div class="dropdown">
                            <button type="button" class="list-group-item btn btn-secondary dropdown-toggle" href="#"
                                    role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-gears"></i>
                                Settings
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/users/profile/update}"><i
                                        class="fa-sharp fa-solid fa-wrench"></i> Update profile</a></li>
                                <li><a class="dropdown-item" th:href="@{/users/profile/password}"><i
                                        class="fa-solid fa-key"></i> Change password</a></li>
                                <li><a class="dropdown-item" th:href="@{/users/profile/delete}"><i
                                        class="fa-sharp fa-solid fa-trash"></i> Delete profile</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="profile" role="tabpanel"
                             aria-labelledby="profile-profile">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered" th:object="${user}">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>Photo:</th>
                                        <th>Email:</th>
                                        <th>Name:</th>
                                        <th>Surname:</th>
                                        <th>Date of birth:</th>
                                        <th>Sex:</th>
                                        <th>Phone:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><img th:if="${user.image != null}"
                                                 class="rounded img-thumbnail social-img"
                                                 th:src="@{|/users/profile/image/${user.image}|}"
                                                 alt="Your profile image">
                                            <img th:unless="${user.image != null}"
                                                 class="rounded img-thumbnail social-img"
                                                 th:src="@{/img/default.png}" alt="Your profile image">
                                        </td>
                                        <td th:text="*{email}"></td>
                                        <td th:text="*{firstName}"></td>
                                        <td th:text="*{lastName}"></td>
                                        <td th:text="*{birthday}"></td>
                                        <td th:text="*{sex}"></td>
                                        <td th:text="*{phone}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</div>
</body>
</html>