<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="wrapper">
    <header>
        <div th:replace="fragments/nav :: nav"/>
    </header>
    <main>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <nav>
                        <div class="position-sticky">
                            <div class="list-group">
                                <a th:href="@{/users/profile}" class="list-group-item list-group-item-action active">
                                    <i class="fa-solid fa-user"></i><span>Profile</span></a>
                                <a th:href="@{/users}" class="list-group-item list-group-item-action">
                                    <i class="fa-solid fa-users"></i><span>Users</span></a>
                                <a th:href="@{/logout}" class="list-group-item list-group-item-action">
                                    <i class="fa-sharp fa-solid fa-right-from-bracket"></i><span>Logout</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-10">
                    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="profile-profile"
                           data-bs-toggle="list" href="#profile" role="tab" aria-controls="profile"><i
                                class="fa-solid fa-user"></i><span>Profile</span></a>
                        <a class="list-group-item list-group-item-action" id="update-update" data-bs-toggle="list"
                           href="#update" role="tab" aria-controls="update"><i
                                class="fa-sharp fa-solid fa-wrench"></i><span>Update profile</span></a>
                        <a class="list-group-item list-group-item-action" id="password-password" data-bs-toggle="list"
                           href="#changePassword" role="tab" aria-controls="changePassword"><i
                                class="fa-solid fa-lock"></i><span>Change password</span></a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                           href="#list-settings" role="tab" aria-controls="list-settings"><i
                                class="fa-solid fa-trash"></i><span>Delete profile</span></a>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="profile" role="tabpanel"
                             aria-labelledby="profile-profile">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered" th:object="${user}">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>Email:</th>
                                        <th>Name:</th>
                                        <th>Surname:</th>
                                        <th>Date of birth:</th>
                                        <th>Sex:</th>
                                        <th>Phone:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="*{email}"></td>
                                        <td th:text="*{firstName}"></td>
                                        <td th:text="*{lastName}"></td>
                                        <td th:text="*{birthday}"></td>
                                        <td th:text="*{sex}"></td>
                                        <td th:text="*{phone}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="update" role="tabpanel"
                             aria-labelledby="update-update">
                            <div class="container">
                                <div class="col-md-6 offset-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h2 class="text-center">Update Profile</h2>
                                        </div>
                                        <div class="card-body">
                                            <form
                                                    method="post"
                                                    role="form"
                                                    th:action="@{/users/profile/update}"
                                                    th:object="${updateUser}">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Name</label>
                                                    <input
                                                            class="form-control"
                                                            id="Name"
                                                            name="Name"
                                                            placeholder="Enter your name"
                                                            th:field="*{firstName}"
                                                            type="text"
                                                    />
                                                    <p th:errors="*{firstName}" class="text-danger"
                                                       th:if="${#fields.hasErrors('firstName')}"></p>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label class="form-label">Surname</label>
                                                    <input
                                                            class="form-control"
                                                            id="Surname"
                                                            name="Surname"
                                                            placeholder="Enter your surname"
                                                            th:field="*{lastName}"
                                                            type="text"
                                                    />
                                                    <p th:errors="*{lastName}" class="text-danger"
                                                       th:if="${#fields.hasErrors('lastName')}"></p>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label class="form-label">Gender</label>
                                                    <div th:each="model : ${T(com.senla.web.dto.constants.Gender).values()}">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" th:field="*{sex}" th:value="${model}"
                                                                   class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                   th:for="${#ids.prev('sex')}"
                                                                   th:text="${model}">sex</label>
                                                        </div>
                                                    </div>
                                                    <p th:errors="*{sex}" class="text-danger"
                                                       th:if="${#fields.hasErrors('sex')}"></p>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label class="form-label">Date of birth</label>
                                                    <input
                                                            class="form-control"
                                                            id="Date of birth"
                                                            name="Date of birth"
                                                            placeholder="Enter your date of birth"
                                                            th:field="*{birthday}"
                                                            th:value="*{birthday}"
                                                            type="date"
                                                    />
                                                    <p th:errors="*{birthday}" class="text-danger"
                                                       th:if="${#fields.hasErrors('birthday')}"></p>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input
                                                            class="form-control"
                                                            id="Phone"
                                                            name="Phone"
                                                            placeholder="Enter your phone"
                                                            th:field="*{phone}"
                                                            type="tel"
                                                    />
                                                    <p th:errors="*{phone}" class="text-danger"
                                                       th:if="${#fields.hasErrors('phone')}"></p>
                                                </div>

                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="changePassword" role="tabpanel"
                             aria-labelledby="update-update">
                            <div class="container">
                                <div class="col-md-6 offset-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h2 class="text-center">Change Password</h2>
                                        </div>
                                        <div th:if="${param.fail}">
                                            <div class="alert alert-danger">
                                                <p th:text="${message}"></p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <form
                                                    method="post"
                                                    role="form"
                                                    th:action="@{/users/profile/password}"
                                                    th:object="${password}"
                                            >
                                                <div class="form-group mb-3">
                                                    <label class="form-label"><abbr title="Password must contain:
                        - a minimum of 1 lower case letter [a-z]
                        - a minimum of 1 upper case letter [A-Z]
                        - a minimum of 1 numeric character [0-9]
                        - any combination of between 5 to 16 characters">Password</abbr></label>
                                                    <input
                                                            class="form-control"
                                                            id="password"
                                                            name="password"
                                                            placeholder="Enter password"
                                                            th:field="*{password}"
                                                            type="password"
                                                    />
                                                    <p th:errors="*{password}" class="text-danger"
                                                       th:if="${#fields.hasErrors('password')}"></p>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label class="form-label">Repeat password</label>
                                                    <input
                                                            class="form-control"
                                                            id="matchingPassword"
                                                            name="matchingPassword"
                                                            placeholder="Repeat password"
                                                            th:field="*{matchingPassword}"
                                                            type="password"
                                                    />
                                                    <p th:errors="*{matchingPassword}" class="text-danger"
                                                       th:if="${#fields.hasErrors('matchingPassword')}"></p>
                                                </div>

                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit">Change</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</div>
</body>
</html>