<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Social Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Social Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="row col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Sign up </h2>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        <p th:text="${message}"></p>
                    </div>
                </div>
                <div th:if="${param.fail}">
                    <div class="alert alert-info">
                        <p th:text="${message}"></p>
                    </div>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/registration/save}"
                            th:object="${user}"
                    >
                        <div class="form-group mb-3">
                            <label class="form-label">Email</label>
                            <input
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Enter email address"
                                    th:field="*{email}"
                                    type="email"
                                    required
                            />
                            <p th:errors="*{email}" class="text-danger"
                               th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label"><abbr title="Password must contain:
                        - a minimum of 1 lower case letter [a-z]
                        - a minimum of 1 upper case letter [A-Z]
                        - a minimum of 1 numeric character [0-9]
                        - any combination of between 5 to 16 characters">Password</abbr></label>
                            <input
                                    class="form-control"
                                    id="password"
                                    name="password"
                                    placeholder="Enter password"
                                    th:field="*{password}"
                                    type="password"
                                    minlength="5"
                                    maxlength="16"
                                    size="16"
                                    required
                            />
                            <p th:errors="*{password}" class="text-danger"
                               th:if="${#fields.hasErrors('password')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Repeat password</label>
                            <input
                                    class="form-control"
                                    id="matchingPassword"
                                    name="matchingPassword"
                                    placeholder="Repeat password"
                                    th:field="*{matchingPassword}"
                                    type="password"
                                    minlength="5"
                                    maxlength="16"
                                    size="16"
                                    required
                            />
                            <p th:errors="*{matchingPassword}" class="text-danger"
                               th:if="${#fields.hasErrors('matchingPassword')}"></p>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                        Already have an account? <a th:href="@{/login}">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>