<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="wrapper">
    <header>
        <div th:replace="fragments/nav :: nav"/>
    </header>
    <main>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div th:replace="fragments/sideNav :: sideNav"/>
                </div>
                <div class="col-md-10">
                    <div class="container">
                        <div class="col-md-6 offset-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="text-center">Update Profile</h2>
                                </div>
                                <div th:if="${param.success}">
                                    <div class="alert alert-success">
                                        <p th:text="${message}"></p>
                                    </div>
                                </div>
                                <div th:if="${param.fail}">
                                    <div class="alert alert-danger">
                                        <p th:text="${message}"></p>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <form enctype="multipart/form-data"
                                          method="post"
                                          role="form"
                                          th:action="@{/users/profile/update/image}"
                                    >
                                        <div class="form-group mb-3">
                                            <label class="form-label" path="file">Photo</label>
                                            <div class="input-group">
                                                <input type="file" class="form-control" id="file" name="file"
                                                       aria-describedby="inputGroupFileAddon04"
                                                       aria-label="Upload photo"
                                                       accept="image/*" required>
                                                <button class="btn btn-primary" type="submit"
                                                        id="inputGroupFileAddon04">Upload photo
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                    <form method="post"
                                          role="form"
                                          th:action="@{/users/profile/update}"
                                          th:object="${updateUser}">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Name</label>
                                            <input
                                                    class="form-control"
                                                    id="Name"
                                                    name="Name"
                                                    placeholder="Enter your name"
                                                    th:field="*{firstName}"
                                                    type="text"
                                                    required
                                            />
                                            <p th:errors="*{firstName}" class="text-danger"
                                               th:if="${#fields.hasErrors('firstName')}"></p>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="form-label">Surname</label>
                                            <input
                                                    class="form-control"
                                                    id="Surname"
                                                    name="Surname"
                                                    placeholder="Enter your surname"
                                                    th:field="*{lastName}"
                                                    type="text"
                                                    required
                                            />
                                            <p th:errors="*{lastName}" class="text-danger"
                                               th:if="${#fields.hasErrors('lastName')}"></p>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="form-label">Gender</label>
                                            <div th:each="model : ${T(com.senla.web.dto.constants.Gender).values()}">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" th:field="*{sex}" th:value="${model}"
                                                           class="custom-control-input" required>
                                                    <label class="custom-control-label" th:for="${#ids.prev('sex')}"
                                                           th:text="${model}">sex</label>
                                                </div>
                                            </div>
                                            <p th:errors="*{sex}" class="text-danger"
                                               th:if="${#fields.hasErrors('sex')}"></p>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="form-label">Date of birth</label>
                                            <input
                                                    class="form-control"
                                                    id="Date of birth"
                                                    name="Date of birth"
                                                    placeholder="Enter your date of birth"
                                                    th:field="*{birthday}"
                                                    th:value="*{birthday}"
                                                    type="date"
                                                    required
                                            />
                                            <p th:errors="*{birthday}" class="text-danger"
                                               th:if="${#fields.hasErrors('birthday')}"></p>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="form-label">Phone</label>
                                            <input
                                                    class="form-control"
                                                    id="Phone"
                                                    name="Phone"
                                                    placeholder="Enter your phone"
                                                    th:field="*{phone}"
                                                    type="tel"
                                                    required
                                            />
                                            <p th:errors="*{phone}" class="text-danger"
                                               th:if="${#fields.hasErrors('phone')}"></p>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</div>
</body>
</html>